body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

nav a:hover {
    font-weight: bold;
}

.jumbotron {
    font-size: 20px;
    padding: 10px;
    margin: 0;
    background-color: #FAEEE0;
    text-align: center;
    color: orangered;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #F9CF93;
    padding: 4px;
    position: sticky;
    top: 0;
    margin: 5px;
    border-radius: 7px;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-columns {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

main {
    padding: 20px;
    overflow: auto;

}

aside {
    display: flex;
    flex-grow: 1;
    margin-left: 15px;
}

img {
    width: 200px;
}


footer {
    padding: 20px;
    color: black;
    background-color: #FAEEE0;
    text-align: center;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.profile header {
    text-align: center;
}

@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

/* Dropdown Button */
.dropbtn {
  background-color: #F9CF93;
  color: black;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

